html,
body {
  height: 100%;
}
nav img {
  background-color: white;
  border-radius: 25px;
}

.row {
  display: flex;
  justify-content: center;
}
.card {
  width: 100%;
}
.card img {
  aspect-ratio: 1/1.5;
}
/* .card-body {
  padding: 0.5rem;
} */
.card-text {
  margin-bottom: 0;
  margin-right: 0.5rem;
}
.textWrapper {
  width: 100%;
}
#skipBtn {
  justify-self: end;
  align-self: end;
}
